/test data
__pycache__/
*.log
*.csv
*.xls
*.xlsx
*.drawio
*.txt
*.json
*.js
*.flow
*.ts
*.map
*.scss
*LICENSE
*.md
bootstrap*
store_cache/*.txt
store_cache/*.json
store_cache/*.csv
/Users/lukas-danielf/Documents/PathologieMarburg/ui_dash/node_modules/
*.ipynb

Snakemake/
Data/.DS_Store
.DS_Store
node_modules
.snakemake/conda*
.snakemake*
